<!-- <h1>StaticPages#contact</h1>
Find me in app/views/static_pages/contact.html.erb
-->


<div class="header">
	<h1>Contact</h1>
</div>

<!-- 5.3 contact form -->
<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>

  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" id="contact-form">
    <div class="form-group col-xs-6" id="name2">
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
    </div>      
    <div class="form-group col-xs-6" id="email">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <div class="form-group col-xs-12">
      <%= label_tag :message %>
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
    </div>  
    <div>
	    <%= submit_tag("Send", class: "btn btn-info") %>
			<% end %>    
		</div>	
  </div>
</div>





<!-- original contact form
<p>Please contact us regarding any questions or concerns you may have with your order. Just send us a message in the form below!</p>

<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" id="contact-form>
	<form>
		<div class="form-group" id="contactForm">

			<div id="name2" class="col-xs-6">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Name">
			</div>	

			<div id="phone2" class="col-xs-6">
				<label for="tel">Phone</label>
				<input type="tel" class="form-control" id="tel" title ="Please include your area code" minlength=10 placeholder="555-555-5555">
			</div>

			<label for="email">Email*</label>
			<input type="email" class="form-control" id="email" title="Email address required for sign-up" required="required" placeholder="Email Address">

			<label for="comment">Comment</label>
			<textarea class="form-control message-box" id="comment-box" style="resize:none" cols="40" rows="5" placeholder="Leave a comment"></textarea>
			<p id="visible-comment"></p>
			<p id="char-count"></p>

			<button type="submit" class="btn btn-info" id="submitComment">Submit</button>
		</div>< end .form-group -->
<!--
	</form>
</div>
-->

<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 list-group" id="contact-info">

	<a href="" class="list-group-item">
		<h4 class="list-group-item-heading">Email:</h4>
		<p class="list-group-item-text">customerservice@rentacat.com</p>
	</a>

	<a href="" class="list-group-item">
		<h4 class="list-group-item-heading">Phone:</h4>
		<p class="list-group-item-text">555-123-4567</p>
	</a>

	<a href="" class="list-group-item">
		<h4 class="list-group-item-heading">Address:</h4>
		<p class="list-group-item-text">123 Main St.<br>Mountain View, CA<br>94086</p>
	</a>

</div>

