<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	<div class="product_box">
		<!-- creates an image that directs to the product's page when clicked. image and link are dynamic and correspond to each product -->
		<%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
		<div class="product_box_description">
		  <h3><%= product.name %></h3>
		  <h4><%= product.description %></h4>
		  <p>Color: <%= product.colour %></p>
		  <p>Price: $<%= product.price %></p>
		 </div> 
	</div>	
</div><!-- /col -->