<!-- new code in testing for show.html.erb page -->

<p id="notice"><%= notice %></p>

<div class="container-fluid anchor" id="product-columns">
	<div class="row">

		<div class="col-xs-12 col-sm-4 col-md-4 product_image_box">
		  <%= link_to image_tag(@product.image_url, class: "img-responsive"), @product %>			
		</div><!-- /.product_image_box -->

		<div class="col-xs-12 col-sm-6 col-md-6 product_info_box">

			<div id="productName">
				<h2><%= @product.name %></h2>		
			</div>

			<div id="productPrice">
				<h4>Price: <%= @product.price %></h4>
			</div>

			<p><strong>Colour: </strong><%= @product.colour %></h4>

			<p><strong>Description: </strong><%= @product.description %></p>

			
			
		</div><!-- /.product_info_box -->

		<div class="col-xs-12 col-sm-2 col-md-2 product_action_box">
			<!-- reserved for quantity select -->
			<h3>Quantity:</h3>
			<select class="form-control">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>

			<!-- reserved for add to cart button -->
			<button class="btn btn-default" type="submit">Add to Cart</button>
		</div><!-- /.product_action_box -->

		<div class="col-xs-12 reviews_area">
			<h3>User reviews</h3>
			<div class="col-xs-12 product_review">
			  <h4>Reserved for comment title</h4>
			   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Reserved for comment star rating / user name
			  <p>Reserved for comment text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla orci eu massa dignissim, id venenatis turpis pulvinar. Quisque ornare justo eu dui sagittis, vel lacinia sapien pretium. Aliquam a nisi sed mi vehicula tristique.</p>
			</div><!-- /.user_review -->
		</div><!-- /.product_reviews -->
	</div><!-- /.row -->
</div><!-- /#product-columns -->		