<!-- new code in testing for show.html.erb page -->

<p id="notice"><%= notice %></p>

<div class="container-fluid anchor" id="product-columns">
	<div class="row">

		<div class="col-xs-12 col-sm-4 col-md-4 product_image_box">
		  <%= link_to image_tag(@product.image_url, class: "img-responsive"), @product %>			
		</div><!-- /.product_image_box -->

		<div class="col-xs-12 col-sm-6 col-md-6 product_info_box">

			<div id="productName">
				<h2><%= @product.name %></h2>		
			</div>

			<div id="productPrice">
				<h4>Price: <%= @product.price %></h4>
			</div>

			<p><strong>Colour: </strong><%= @product.colour %></h4>

			<p><strong>Average Rating: </strong><div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

			<p><strong>Description: </strong><%= @product.description %></p>


			<!-- added in 5.8 -->
			<div class="container-fluid">

			  <!-- _new_comment partial -->
        <div class="row">
          <%= render(:partial => "new_comment") %>
        </div>
      </div>  
      
    

			
			
		</div><!-- /.product_info_box -->

		<div class="col-xs-12 col-sm-2 col-md-2 product_action_box">
			<!-- reserved for quantity select -->
			<h3>Quantity:</h3>
			<select class="form-control">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>

			<!-- reserved for add to cart button -->
			<button class="btn btn-default" type="submit">Add to Cart</button>
		</div><!-- /.product_action_box -->

		<div class="col-xs-12 reviews_area">
			<h3>User reviews</h3>

		  <!-- _comments partial -->
      <div class="col-xs-12 comments_partial">
        <%= render(:partial => "comments") %>
		  </div><!-- /.comments_partial -->

	  </div>  
</div><!-- /#product-columns -->		



