<!-- new code in testing for show.html.erb page -->
<div class="container-fluid anchor" id="product-columns">
	<div class="row">

		<div class="col-xs-12 col-sm-4 col-md-6 product_image_box">
		  <%= link_to image_tag(@product.image_url, class: "img-responsive"), @product %>			
		</div><!-- /.product_image_box -->

		<div class="col-xs-12 col-sm-8 col-md-6 product_info_box">

		  <div id="productName">
				<h2><%= @product.name %></h2>		
			</div>

			<div class="row"><!-- row level 2 -->
				<div class="col-xs-12 col-sm-6 col-md-6">


					<div id="productPrice">
						<h4>Price: <%= @product.price %></h4>
					</div>

					<p><strong>Colour: </strong><%= @product.colour %></p>

					<p><strong>Average Rating: </strong><div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

					<p><strong>Description: </strong><%= @product.description %></p>
				</div>	

				<div class="col-xs-12 col-sm-6 col-md-6">
					<h3>Quantity:</h3>
					<select class="form-control product_quantity">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
					<!-- add to cart button -->
				  <button class="btn btn-default" type="submit">Add to Cart</button>
				</div> 



			<!-- added in 5.8 -->
			<div class="col-xs-12 col-sm-12 col-md-12 container-fluid">

			  <!-- _new_comment partial -->

	        <%= render(:partial => "new_comment") %>

	     </div><!-- /.container-fluid --> 
    </div><!-- /.product_info_box --></div><!-- /.row level 1 -->
      
	</div><!-- /.row level 1 -->		




</div><!-- /#product-columns -->		



<div class="col-xs-12 reviews_area">
	<h3>User reviews</h3>

  <!-- _comments partial -->
  <div class="col-xs-12 comments_partial">
    <%= render(:partial => "comments") %>
  </div><!-- /.comments_partial -->
</div>  



