<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
  </head>

	<body>
		<!-- _nav partial -->
		<%= render 'layouts/nav' %>
		

		<!-- Devise gem: flash messages to display a welcome message when you sign in -->
		<% if notice %>
			<div id="notice" class="alert alert-info" role="alert"><%= notice %></div>
		<% end %>	

		<% if alert %>
		<div class="alert alert-danger" role="alert"><%= alert %></div>
		<% end %>


		<!-- where the view files are rendered inside the layout -->
    <%= yield %>

    <br>
		

		<footer>
		  <%= link_to "Click for redirect_to :back", @some_action %>
		  &copy; 2016 Rent-A-Cat
		</footer>

		<!-- ============================= -->
		<!-- All your JavaScript comes now -->
		<!-- ============================= -->

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		

		<!-- Bootstrap core JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	

  </body>
</html>
